/*
                          Theme Three

    Author: Igor Boroja
    Licence: Feel Free to use in commercial and non-commercial projects.
    Images: https://pixabay.com         https://pixabay.com/en/service/faq/
	Framework: Bootstrap
	Icons: https://fortawesome.github.io/Font-Awesome/
*/

body, html{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/*
******************************
		HEADER
******************************
*/
header{
	background-image: url("../img/tree2.jpg");
	height: 100vh;
	background-size: cover;
	min-height: 630px;
}

header h1{
	font-size: 60px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	padding-bottom: 10px;
	letter-spacing: 2px;
	margin: 0 ;
	padding: 0;
	text-align: center;
	top: 38%;
	position: relative;
}
header h3{
	font-size: 30px;
	color: yellow;
	letter-spacing: 1px;
	margin: 0 ;
	padding: 0;
	text-align: center;
	top: 38%;
	position: relative;
}
header .headerButtons{
	position: relative;
	display:block;
	margin: auto;
	text-align: center;
	top: 40%;
	color: #fff;
}
header .btn-warning{
	background: yellow;
	color: #000;
	font-weight: bold;
	height: 45px;
	margin-right:7px;
	border: 1px solid yellow;
}
header .btn-info{
	font-weight: bold;
	height: 45px;
	background: transparent;
	border: 1px solid white; 
}
header .btn-warning:hover{
	background: #f1c40f;
	border: 1px solid #f1c40f;
	color: #000;
}
header .btn-info:hover{
	background: transparent;
	border: 1px solid #f2f2f2;
	color: #f2f2f2;
}
header .btn{
	letter-spacing: 0.5px;
}
/*
******************************
		SECTIONS
******************************
*/
.firstSection h3{
	font-size: 36px;
	margin-bottom: 30px;
	line-height: 40px;
	font-weight: 300;
	color:#292929;
	text-align: center;
}
.firstSection {
	width: 80%;
	padding: 180px 0;
}
.firstSection p{
	font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#666;
    text-align: center;
}

.secondSection{
	background: #f8f8f8;
}
.secondSection h3{
	text-align: center;
	font-size: 36px;
	padding-top: 160px;
	font-weight: 300;
	color:#292929;
}
.secondSection h4{
	color:#292929;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 7px;
	letter-spacing:1px;
}
.secondSection p{
	text-align: center;
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
	color: #666;
	font-weight: 400;
    line-height: 28px;
}
.secondSection .imgGallery{
	padding: 60px 0;
	padding-left: 40px;
}
.secondSection img{
	padding: 0 2px 5px 0;
}
.thirdSection .jumbotron{
	background-image: url("../img/tree2.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 450px;
	margin-bottom: 0;
}
.jumbotronText h3{
	font-size: 54px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding-top: 25px;
}

.contactUs{
	text-align: center;
	margin: 0 auto;
}
.contactUs h3{
	padding-top: 90px;
	font-size: 36px;
    font-weight: 300;
    color: #292929;
    margin-bottom: 0;
    padding-left: 20px;
}
.contactUs h4{
	font-size:16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
	padding-left: 20px;
}
.contactUs p{
	color: #666;
    font-weight: 400;
    line-height: 28px;
    padding-left: 20px;
}
.fourthSection{
	background: #f8f8f8;
}
.fourthSection .row{
	padding: 0 16% 60px 16%;
}
.fourthSection h3{
	text-align: center;
	font-size: 36px;
	padding-top: 160px;
	font-weight: 300;
	color:#292929;
	margin-bottom: 60px;
	margin-top: 0;
}
.fourthSection .fa{
	display: block;
	text-align: center;
	margin-bottom: 60px;
	color: #292929;
}
.fourthSection p{
	font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #666;
    padding-left: 25px;
    padding-bottom: 60px;
}
footer{
	background: #292929;
	width: 100%;
	color: #fff;
	margin-top: 90px;
}

footer p{
	margin-top: 12px;
	font-size: 12px;
}
footer .fa{
	font-size: 16px;
	padding-right: 12px;
}
footer a {
	color: #fff;
	padding-right: 12px;
}
footer a:hover{
	color:#666;
}